[2019-02-06 15:56] rado0x54 opened #1 "Credential Discovery"
If a Credential Manifest contains dependent Claims or Credentials that need to be provided, there needs to be a way for the Subject to discover Issuers that can issue that dependent Claim in order to proceed with the acquisition of the original credential.

[2019-02-06 16:19] csuwildcat opened #2 "Should the credential's name prop be a URI?"
In order to ensure the credential `name` property (which specifies the credential that will be output in response to submission of the CM) is not used to alias an entry in a singular credential type registry, we may want to force that field to be a URI related/ to the issuer's DID

[2019-02-14 11:46] awoie opened #3 "Discovery and exchange/submission protocol missing"
There is currently no way to discover claims manifests. Furthermore, it is not specified how to submit the required information from the claim manifest to the issuer. What happens if the claims manifest refers to a verified credential available on a different hub or issuer service. Should we specify that the response is a claims manifest as well?

@csuwildcat are these going to be separate specs?

[2019-02-14 11:55] csuwildcat commented on #3
These are known areas we want to cover within this scope, but tried to make
sure we put something out there that's unbound to those functions for the
sake of separating concerns and ensuring an open conversation about
potential solutions.

The goal is very much to specify options for both discovery and submission,
so let's start thinking/proposing ideas for each..

On Thu, Feb 14, 2019, 3:46 AM Ol

[2019-12-17 20:50] OR13 opened #5 "credential_schema should be a resolvable uri"
It could be a hashlink, ipfs lint, https url, or did uri...it should not be a flat sha256 hash...

[2019-12-18 22:35] brentzundel opened #6 "Call the requested inputs a Presentation Definition"
We discussed on a call the idea to put `input_selection` and `input_descriptors` into an independent object, and seemed to have agreement.
In the Aries community we have been using the term `Presentation Definition` to describe the holder traits requested by a verifier. I would love for these notions to be aligned and recommend that we call the independent object that contains `input_selection` an

[2019-12-19 17:34] csuwildcat opened #7 "Should the CM include a property indicating what issuance protocols the Issuer supports?"
Do we want to include a property the issuer can use to indicate what credential issuance protocols it supports?

[2019-12-19 20:18] brentzundel commented on #7
I think this could be valuable, but I wonder how that would be done. For example, how does an issuer indicate that it supports "Aries did-comms, version 1.2, with anoncreds 2.0 signatures"
Or did I just answer my own question?
I also wonder if having the issuer DID is sufficient, at least at first. Or maybe the holder can contact the issuer (maybe using some standard `cred-manifest-inquiry` messag

[2019-12-19 20:20] brentzundel commented on #6
This is what happens when I get too excited about something.
I personally like `proof description` better, but `presentation description` matches the language used in the VC spec and more clearly indicates that they are related, i.e. a presentation description would allow a holder to construct a W3C compliant Verifiable Presentation.

[2020-01-07 18:38] csuwildcat opened #8 "Rename Credential Manifest to something that actually fits the defintion"
The Credential Manifest isn't really a manifest, and literally every human on earth who ever hears the term is thrown into a state of almost permanent confusion, thus I think we should rename it. Given This resource/JSON doc describes the necessary inputs to be considered by an issuer for issuance of a credential, it is more like a Credential Application Form. I would be fine calling it that, give

[2020-01-07 18:42] csuwildcat commented on #6
I am fine with either one, perhaps we can get some other folks on here who can be opinionated and argue with us? @OR13 @swcurran @talltree @msporny ?

[2020-01-07 19:02] OR13 commented on #6
I prefer `presentation definition`

[2020-06-20 17:18] erickuhn19 commented on #8
Credential Issuance

[2020-07-07 21:17] erickuhn19 opened #9 "Add claim display name mapping"
We would like to add a custom human friendly claim display name.

Example:
ISS to Issuer
DOB to Date of Birth

[2020-07-08 13:11] timcappalli commented on #9
"label" may be a good attribute name

[2020-07-17 13:57] rceleste125 commented on #8
It seems that this could be used for other use cases besides just Issuance.  It's really about expressing an Access Policy to a service.  That service could be a credential issuance service, a lookup service, or any other service that wants to use claims as a means of access.  So maybe "Access Policy" is enough of a name?

[2020-07-17 20:16] csuwildcat opened #10 "Add Credential Manifest version-distinct identifiers"
Credential Manifests need identifiers that:

1. Distinguish one version from another
2. Are valid URIs

Here's an example of one vendor's variant of a Credential Manifest-like object that describes the sorts of things we would want in a Credential Manifest:

[code]

[2020-07-17 20:23] csuwildcat opened #11 "Add credential display property"
In the same way we have issuer styles for rendering acquisition UI, we need a property that describes the styles for rendering the output credential, including the values that are present in the UI, taken from the credential.

[2020-07-17 20:30] csuwildcat opened #12 "Add well-known URI for finding Credential Manifests"
We need a better way to discover Credential Manifests, let's make that happen.

[2020-07-18 19:37] OR13 opened #13 "Add a User Story about how CM and PE are related"
Holder visits issuer.com
Holder browses credential manifests
Holder requests a credential via PE definition in one such manifest
Holder receives PE + domain and challenge for issuer.com
Hodler submits PE VP to issuer.com

[2020-07-18 19:42] llorllale commented on #13
@OR13

From my reading of credential-manifest, the Holder should probably send a reduced form of the manifest, something that looks like this:

[code]

Maybe `credential.name` should be optional

[2020-07-18 19:52] llorllale commented on #13
Or maybe just send a CM's identifier along the idea of #10

[2020-07-18 19:55] OR13 commented on #13
I think its the latter, at this point... the holder has the domain, challenge, credentials and presentation definitions... the holder crafts the submission.... i don't know that they need to do anything but submit it.... its not a "Credential Manifest" issue... its really a PE issue.

The Presentation Submission can reference the "contract" or "credential manifest" by its identifier.

[2020-07-18 20:26] OR13 opened #14 "CM and PE should be merged"
In order to have replay protection in PE, but less messages over all.... it would be helpful to allow an issuer to provide replay protection when the hand out CMs over transports like DIDCom and CHAPI.... this obviously does't work for for static website / hubs... but for interactive transports... it saves an message... because the holder doesn't need to go ask for a domain and challenge before pr

[2020-07-20 14:23] llorllale commented on #7
The credential manifest should at the very least indicate the formats the issuer supports (jwts, jsonld, etc).

[2020-07-20 14:26] llorllale opened #15 "CM should specify the credential formats supported by the issuer"
This is different from #7, which is about *protocols*.

The credential manifest should identify the Issuer's supported output formats for credentials (JWTs, JSONLD, CWTs, etc.)

[2020-07-23 23:13] erickuhn19 commented on #8
Isn't the purpose of using this spec to receive something in return, the VC? If you always receive a VC for completing the requirements in this spec, it feels like it's an issuance spec. Access policy would be when a verifier asks to validate a VC which is governed under the Presentation Exchange spec.

[2020-07-29 23:08] csuwildcat opened #16 "Add generation date to top level of CM"

[2020-09-09 18:41] csuwildcat opened #18 "Should CMs be signed by the Issuer's DID?"

[2020-09-09 19:48] OR13 commented on #18
No, they would be retrieved through a channel authorized by the issuer... such as a hub / did comm / TLS from the issuers domain.

[2020-09-09 19:54] csuwildcat commented on #18
So it should be impossible to put them in a DID Configuration file so others can consume them via static fetch to validate they are from one of the origin's linked DIDs?

[2020-09-10 13:08] OR13 commented on #18
I don't know enough about them to say for sure, but my guess is that signing them will almost certainly be redundant to whatever channel security you are relying on to retrieve them.

consider:

https://issuer.example.com/.well-known/did-configuration.json
https://issuer.example.com/credential-manifest/0

note that both of these rely on `https`.

consider:

did:example:123?service=hub&relativeRef=

[2020-10-05 11:13] awoie commented on #15
How about Credential Format Designations as per [DIF Presentation Exchange](https://identity.foundation/presentation-exchange/#credential-format-designations)?

[2020-11-05 18:39] glcohen opened #19 "Consider moving issuer styling to well-known did config"
Styling for issuers could be noisy/duplicated. Consider pushing it to the issuer's site under a well-known did config.
If the styling for the issuer is optional this is not a problem.

[2020-11-05 18:40] OR13 commented on #19
what is meant by issuer styling? can we see an example?

[2020-11-05 18:43] glcohen commented on #19
[code]

[2020-12-03 18:49] OR13 opened #20 "Support localization"
suggest making the object valid linked data, and handling localization with JSON-LD.

[2020-12-03 18:49] OR13 opened #21 "Credential Manifests MUST have a unique id"
they need an `id` field at the top level.

[2020-12-03 18:51] OR13 commented on #19
IMO this should be optionally linked to from the well known spec, not embedded directly in it.

[2020-12-03 18:59] OR13 opened #22 "Credential Manifest MUST use JSON Schema Form to encode presentation attributes in JSON"
https://github.com/rjsf-team/react-jsonschema-form

`styles` and `display` should be combined.

[2021-01-07 19:00] csuwildcat commented on #8
Ideas:

- Credential Requisition
- Credential Codex

[2021-01-25 16:32] mnzaki opened #24 "Path in Display Mapping Objects is an array in the examples"
About the `path` property, the spec currently reads:

But the examples have arrays of JSONPaths
[code]

Are these meant to be fallbacks of some sort, tried in order?

[2021-01-25 17:10] csuwildcat commented on #24
This is an error in the spec text, as it should match the demos and describe that it MUST be an array of JSONPath string expressions. Would you be able to do a PR to correct that language?

[2021-01-25 19:08] mnzaki commented on #8
How about simply "Credential Offer"? And as an added point the field `credential` itself feels more fitting of the `CredentialManifest` type. So it would look something like this in typescript:
[code]

[2021-01-25 21:27] rceleste125 commented on #8
Has the Credential Manifest been replaced by the DIF Presentation Exchange spec?

Best Regards,

Bob Celeste
Founder

I'd love to connect. Here's my calendar link<https://calendly.com/rceleste> to make finding time easy.

[cid:image001.png@01D6F337.062DE430]<http://www.linkedin.com/in/bob-celeste-c4scs>    [cid:image002.png@01D6F337.062DE430] <https://www.youtube.com/channel/UC-MyaB-DNBqM4lurvgWiM

[2021-01-29 19:40] JaceHensley commented on #19
Would it make sense to do the same with the credential `style`?

[code]

[2021-01-29 19:50] JaceHensley opened #25 "Question About Credential `display` property"
Is this property to be used before or after the credential has been claimed by the user?

I was thinking it would be used to show the user info about the credential they are being offered before they claim it. But if it's used for that case I wasn't sure what the `path` field would be applied against.

[2021-02-02 00:23] timcappalli commented on #19
Would the wallet refresh this data after issuance?

I think there are use cases for static and dynamic presentations of branding. Maybe this is controlled via a flag in the manifest.

[code]
If true, the wallet can refresh the branding periodically. If false, it is fetched once at time of issuance and remains static.

There's obviously some privacy implications here.

[2021-02-08 19:51] dhh1128 opened #26 "security concerns with self-asserted properties of issuer"
Allowing the prospective issuer of a credential to assert their properties (e.g., thumbnail, description) without any proof feels to me like an antipattern and an invitation to phishing. It is highly insecure, and it reinforces a faulty assumption that it's okay to have individuals and institutions play by different rules as far as authentication is concerned.

I would be happier if we removed the

[2021-02-08 19:52] dhh1128 commented on #26
Tagging @llorllale, who asked me in a Hyperledger call if I could explain why I had some concerns about credential manifests.

[2021-02-08 19:57] dhh1128 opened #27 "security concerns with display instructions for credential"
I am concerned about the security implications of having a credential manifest include display instructions. The format includes no way of verifying that the display instructions correspond to exactly and only the data that a credential contains; therefore, a malicious issuer could construct an innocent-looking display but have a credential with content that does not match it. An exaggerated examp

[2021-02-08 19:58] dhh1128 commented on #27
Tagging @llorllale, who asked me in a Hyperledger call if I could explain why I had some concerns about credential manifests.

[2021-02-08 20:30] dhh1128 opened #28 "presentation_definition in cred manifest invites an antipattern"
The idea of `presentation_definition` as a field is to allow an issuer to say, "We'll issue this credential to you if you prove the thing described in `presentation_definition`. The concern I have with this is that it's a weak and flawed substitute for a real proving protocol -- and by having a field for it in the credential manifest, we may encourage harmful shortcuts.

If the potential issuer wa

[2021-02-08 20:37] dhh1128 commented on #28
Tagging @llorllale, who asked me in a Hyperledger call if I could explain why I had some concerns about credential manifests.

[2021-02-08 23:31] dhh1128 commented on #28
@csuwildcat : This makes sense, and I can align with the general philosophy. However, if it is intended that a holder react to the presentation definition by replying with a presentation submission, we have a problem due to replay attack. The issuer has to challenge the holder with something that's specific to the individual interaction (a nonce) before the know that the holder's submission is not

[2021-02-09 19:44] csuwildcat commented on #28
@dhh1128  the PE spec added a unique ID requirement months ago, so that should take care of replay in general, assuming you used it over an integrity protected protocol (OIDC, DID Comms, etc.). We're all just digging into CM (current spec is just a rough draft) and it doesn't specify anything about being used in requests (it can if folks want it to). It was more intended as a resource, but we can

[2021-02-09 20:22] brentzundel commented on #6
This has been resolved via the creation of the presentation exchange spec which introduces the presentation definition data object.

[2021-02-09 20:22] #6 closed

[2021-02-11 18:50] OR13 opened #29 "Document popular design systems"
- [Microsoft](https://www.microsoft.com/design/fluent/#/)
- [Google](https://material.io/design)
- [Amazon ](https://abduzeedo.com/amazon-web-services-design-system)
- [Apple](https://developer.apple.com/design/)

[2021-02-22 20:14] JaceHensley commented on #28
@dhh1128 Our [WACI spec](https://specs.bloom.co/wallet-credential-interactions) does a lot of what you're talking about too. It defines a protocol using CM and PE as the backbone

[2021-02-22 20:32] JaceHensley opened #30 "`display` properties issues"
I think we need to know the expected type of the value returned when evaluating the JSONPaths in the `display` property. In languages like java/swift (native mobile apps) it's harder to be as dynamic as what JS lets us do.

In addition to `path` I'd suggest something that contains JSON schema so that it can be parsed first in order to know how the value at the path should be handled.

[2021-02-24 20:06] JaceHensley commented on #30
Or since `text` and `label` are already restricted to string and numeric values restricting the result of the JSON path expression to string or numeric values would be good. That way there's a finite (and small) number of types to try/catch against

[2021-02-25 19:00] OR13 opened #31 "Split up the use cases for the spec"
1. As an issuer I want to provide a list of credential that I support for the purpose of holder discovery
2. As a wallet implementer, I want to know how to display a credential to the user
3. As a wallet implementer, I want to know that the display information from an issuer is being used.
4. As a wallet implementer, I want to know that the display information for a credential comes from a 3rd par

[2021-02-25 21:27] bumblefudge commented on #31
Any verifier or auditor use cases? One thing the Indy folks talk about all the time is historical query-- can you know what VCs an issuer was offering Nov 18 2019?

[2021-02-26 07:15] TomCJones commented on #31
I faced this problem 20 years ago with payments. It seems that the point is, can the.user understand the message. It's almost like the wallet, if it's to be a faithful user agent, must understand the level of sofistication of the user.

[2021-03-04 17:28] JaceHensley commented on #31
- As a wallet I want to be able to display UI about a credential before I hold it and after I hold it
    - Before holding credential
        - The intent is to show the user information *about* the VC
        - Might inlcude the type of credential, how long it's valid for, etc
    - After holding credential
        - The intent is to show user information *from* the VC
        - This would includ

[2021-03-04 18:38] csuwildcat commented on #31
Working on collaborative doc text here: https://hackmd.io/NN1rJe3AT9GY1SenX6f99Q

[2021-03-05 20:45] JaceHensley opened #33 "Structure And Name Change Proposition"
I want to propose a new structure to Credential Manifest (and also change the spec name to Credentail Exchange). I feel by breaking down the components into their own standalone data blobs we can help cover more use cases.

This proposition helps with the following use cases:
- Credential Display
- Credential Issuance
- Source of Display Information
  - While not directly discussed, if components

[2021-03-09 07:00] quartzjer commented on #31
I'm just coming up to speed on this effort so pardon the not-fully-informed question.

Is there a reason credential display aspects need to be combined in the same spec with credential issuance request parameters?  The README.md seems to only mention the latter "Format that normalizes the definition of requirements for the issuance of a credential."

Finding consensus on the requirements for reque

[2021-03-18 20:59] JaceHensley opened #35 "Add "format" field to CM"
Much like how in PE there is a top-level "format" field that communicates the types of VCs/VPs the verifier can process, CM needs to communicate to the holder the types of VCs/VPs that will be returned.

CM shoulds use the same schema used by PE's `format` in CM's `format`, and CM should have this be a top-level field.

[2021-03-19 18:38] JaceHensley opened #37 "Add a way to tie an Output Descriptor Object to the returned Claim"
A Credential Manifest supports multiple credentials being issued to a holder. But that holder needs to know which Output Descriptor Object corresponds to which issued credential. I have one idea for this, but this is meant to be a discussion of other ideas (if we come up with a better idea it might be worthwhile to see if it can be brought over to PE).

Idea:

### Add an id to the Output Descripto

[2021-03-25 18:07] #33 closed

[2021-03-25 22:00] JaceHensley opened #38 "Split apart the "display" property"
So currently the "display" property is used before and after the holder has a credential. I think this should be split apart to two separate properties, for before and after the holder recieves a credential.

[code]

This "offer_display" (I don't like this name, open to others!) would be used to show the holder info about the credential before they submit the "presentation_submission" and would ho

[2021-03-25 22:30] JaceHensley opened #39 "Display Mapping Objects Should Have a "schema" property"
Display Mapping Objects that use "path" should also have a "schema" property to indicate the type of the value at the resolved "path". This "schema" property would be a subsect of JSON schema, it would just have a "type" field and if "type" is "string" then there is an optional "format" field.

[code]

I'm thinking we'd want to limit "type" to: `"string" | "boolean" | "number" | "integer"`, but th

[2021-04-19 16:17] JaceHensley commented on #35
Addressed by #41

[2021-04-19 16:17] #35 closed

[2021-04-19 16:18] JaceHensley commented on #30
superseded by #39

[2021-04-19 16:18] #30 closed

[2021-04-27 23:43] JaceHensley opened #44 "Support a way to show information about the Claims being offered before it's transferred to the Holder"
There's a use case to display information about the Claim before it's issued and transferred to the Holder. If an issuer only uses `path` within the Output Descriptor Object (ODO) then there would be nothing to display to the user.

Ideas:
- Have a separate property that behaves similarly to the existing "display" property but only allows `text` + `label`
  - IMO this would give the most flexibili

[2021-05-06 18:18] dtmcg opened #45 "Display values should consider numeric type information"
note https://github.com/decentralized-identity/credential-manifest/pull/43/files provides string type formats for values.
numeric type formats should also be consider.
this includes but is not limited to
- Currency
- SI units (pre & postfix)
- Dates 😄
- British imperial Units
- US Customary Units
- Large number formats
- etc

[2021-05-11 18:40] JaceHensley commented on #38
Explained better in https://github.com/decentralized-identity/credential-manifest/issues/44

[2021-05-11 18:40] #38 closed

[2021-05-11 18:40] JaceHensley commented on #25
Related https://github.com/decentralized-identity/credential-manifest/issues/44

[2021-05-11 18:40] #25 closed

[2021-05-13 17:20] #21 closed

[2021-05-13 17:20] #37 closed

[2021-05-13 18:03] #39 closed

[2021-05-20 17:19] csuwildcat opened #49 "Decide on color formats (and other value types)"
Need to make a call on Entity Style color formats, and the formats of other values.

[2021-05-27 16:50] JaceHensley commented on #49
This might come in handy https://github.com/mdn/data/blob/master/css/properties.md

[2021-06-09 00:19] kimdhamilton commented on #22
Question: it wasn't clear whether json schema form supports the path array / fallback style used in this spec. If not, is this  proposing to simplify (i.e., by removing the variations in where the field may appear and fallback)?

[2021-06-09 13:31] OR13 commented on #22
I don't think it does... that should be clarified... in order to use JSON Schema Form you would probably need to do some transforms..

[2021-06-17 17:30] kimdhamilton opened #54 "Need new name for "credential submission""
Need new name for "credential submission". Ideas thrown out:
- Credential manifest request
- Credential supplication
- credential acceptance
- credential solicitation

[2021-06-17 17:56] #2 closed

[2021-06-17 17:58] JaceHensley commented on #3
Consider using `.well-known/did-configuration.json` 😃

[2021-06-17 18:01] JaceHensley commented on #5
Is this still applicable?

[2021-06-23 17:57] JaceHensley commented on #54
Listing my ideas (will edit as I get more ideas):

- Credential Acknowledgement

[2021-07-01 18:06] JaceHensley opened #58 "Wallet Rendering Entity Styles Discussion"
On todays call @dtmcg and I discussed how the Entity Style spec could be improved prior to CM's initial release. We took some notes in hackmd https://hackmd.io/JejxugEuQC-4KqgCzjp8Dg but I'll cover most of it directly in this issue.

---

## Requirements:
- Support for different modes/themes
  - Dark mode
  - Accessibility, goes along side dark / light modes not "instead of"

## Ideas

initially w

[2021-07-12 23:37] kimdhamilton opened #62 "Add github action to generate html"
Consider adding a github action to generate html from md

[2021-07-13 00:54] JaceHensley commented on #62
I'll add this to my PR that removes the html files. I forgot that this repo doesn't do that

[2021-07-13 06:49] bumblefudge commented on #62
#63 might do the trick?

[2021-10-07 17:50] kimdhamilton commented on #62
We'll use this issue to track general wonkiness.

[2021-11-02 18:59] DRK3 opened #65 "Missing schema in display properties"
Hi!

In [Section 4.2.1](https://identity.foundation/credential-manifest/#output-descriptor-object) it says that

According to the linked Wallet Rendering spec, it looks like when [you're using a path, an object must contain a schema property](https://identity.foundation/credential-manifest/wallet-rendering/#using-path). I noticed the examples here in Credential Manifest don't have it. I'm wonderin

[2021-11-02 19:15] JaceHensley commented on #65
Good catch! I think the examples are just out of date, the `schema` property is required when using `path`

[2021-11-02 21:39] Sakurann opened #66 "suggest decoupling presentation_submission and credential_application"
when the user presents credentials (assuming VCs) in presentation_submission, based on the presentation_definition in the credential_manifest, they need to be replay protected, so that I am not replaying complete VCs that belong to someone else.

To do that it makes sense to have a flow like 1/ holder tells which credential it wants issued; 2/ issuer gives the wallet a challenge (server provided n

[2021-11-02 22:12] Sakurann opened #67 "Passing requested credential type by value in addition to by reference"
There is a requirement for a protocol that can support credential issuance both 1/ starting with the `credential_manifest` discovery and 2/ without such discovery, where the holder simply tells the issuer in the request which credential type the holder is requesting. The use-case for latter would be when the issuer already has all the information needed to issue a credential to that user for examp

[2021-11-03 16:00] DRK3 opened #69 "Missing section for Labeled Display Mapping Object"
In the Terminology section of the wallet-rendering spec, it says

ref:Labeled Display Mapping Objects extend from [Display Mapping Objects](https://identity.foundation/credential-manifest/wallet-rendering/#term:display-mapping-objects). See [Labeled Display Mapping Object](https://identity.foundation/credential-manifest/wallet-rendering/#labeled-display-mapping-object)

[Labeled Display Mapping Ob

[2021-11-03 16:42] JaceHensley commented on #67
So this use-case is covered already with CM, if the issuer doesn't need to collect information from the user then the `presentation_definition` property on `credential_manifest` can be omitted. Without the CM the user wouldn't really know how what credentials the issue has to offer making it really hard to ask for specific credential types. In this situation how does the user/wallet know how to de

[2021-11-04 17:52] brentzundel opened #70 "id must be unique within a context"
The spec should be clear that id fields must be unique within a certain context, not necessarily globally

[2021-11-04 17:57] JaceHensley commented on #65
We are actually moving the Wallet Rendering spec to it's own repo https://github.com/decentralized-identity/wallet-rendering

[2021-11-04 20:41] JaceHensley commented on #62
fixed with #64

[2021-11-04 20:41] #62 closed

[2021-12-09 18:33] brentzundel commented on #67
I'm not understanding what you're asking for. Are you wondering if the `credential_application` could be changed so that a `credential_manifest` could be passed by value (in addition to by reference via the `manifest_id`) ?

[2021-12-09 19:06] David-Chadwick opened #72 "Credential Manifest should be based on Credential Properties and not Verifiable Credential Properties"
The W3C WG has agreed that the resulting credential (without a proof) should be identical regardless of which proof is added to it to create a verifiable credential and then verified and removed to return the credential.
Consequently the manifest should use the path parameter to refer to the properties of the credential and not to the properties of the (different flavours of) verifiable credential

[2021-12-09 21:48] DRK3 opened #73 "Confusion with Credential Application definition"
Hi everyone,

There's something I'm finding confusing in the [Credential Application](https://identity.foundation/credential-manifest/#credential-application) section.

It says:

and...

... and here's the example from the spec:

[code]

It sounds like a Credential Application contains a `credential_application` and (optionally) also a `presentation_submission`.

Does this mean that a Credential A

[2021-12-10 01:13] JaceHensley commented on #72
Hmm so this almost feels like a feature of CM. Because CM isn't tied to the VC Data Model so a "Credential" and a "Verifiable Credential" are as related as a "Verifiable Credential" and a "Banana Octopus", in the eyes of CM. They are different structures that you can target/inspect with the `path` property. So having CM know the difference between a "Credential" and a "Verifiable Credential" might

[2021-12-10 14:45] DRK3 commented on #73
@JaceHensley Thanks so much for the clarification. I'll think about naming... I'm having a hard time coming up with a better name myself, but I'll let you know if I do.

[2022-01-20 00:45] sudeshrshetty opened #75 "Display Mapping Object - Schema Type for Images"
I noticed that [Schema types](https://identity.foundation/credential-manifest/wallet-rendering/#type-specific-configuration) in Display Mapping Object are missing image types which can potentially be part of a given verifiable credential.

For Example: image of card holder in [Citizenship Vocabulary](https://w3c-ccg.github.io/citizenship-vocab/contexts/citizenship-v1.jsonld)

[2022-01-20 01:20] sudeshrshetty commented on #75
or I am open to introduce new schema type called `binary` or `data`

[2022-01-20 01:55] JaceHensley commented on #75
Hey! This actually came up in the previous WG call. There was also an ask to be able to display PDFs

[2022-01-20 02:01] sudeshrshetty commented on #75
@JaceHensley that's great, let me know if someone else working on the same or if I can create a pull request to update the list of schema types and formats in the spec.

[2022-01-20 17:19] JaceHensley commented on #75
Actually I think this issue should be moved over to the [Wallet Rendering](https://github.com/decentralized-identity/wallet-rendering) spec (originally a part of the CM spec here), transferring it over now :)

[2022-02-09 10:34] xtrycatchx opened #76 "Typo of CALIM instead of CLAIM"
minor typo of `CALIM` instead of `CLAIM` at https://github.com/decentralized-identity/credential-manifest/blob/1fc76252922a53efa9ebacdaccfc4cb639aa2781/spec/spec.md#general-composition

[2022-02-15 18:14] kimdhamilton opened #80 "Ensure decoded credential samples are clear"
Note to self: sometimes we mix decoded forms of credentials and it's unclear to implementors. Ensure we clean up

[2022-03-16 03:15] decentralgabe opened #81 "Spec Examples Should Be Compliant"
Spec examples should all be compliant with the spec.
For example, the first example contains a `version` property which is not mentioned in the spec.

Additionally there is no JSON Schema for the `Credential Manifest` object to validate this data.

[2022-03-16 03:16] decentralgabe commented on #81
cc: @csuwildcat

[2022-03-17 17:33] bumblefudge commented on #76
thanks!

[2022-03-17 17:33] brentzundel opened #83 "referenced specs should be versioned"
presentation definition and wallet rendering spec references should be to published versions, not just latest

[2022-03-17 17:38] bumblefudge opened #84 "Typos"
Re-PR the typos fixed in #68 PR (rest of PR superceded on today's call)

[2022-03-17 17:39] #9 closed

[2022-03-17 17:40] brentzundel commented on #12
is this still a thing that needs to happen? what are next steps here?

[2022-03-17 17:42] brentzundel commented on #10
Is this still a thing? I think we may have moved beyond this? May we close?

[2022-03-17 17:43] brentzundel commented on #13
Has this been answered? Is there still a need for this? Closing in 7 days if no response.

[2022-03-17 17:46] brentzundel commented on #7
this is already done

[2022-03-17 17:52] brentzundel commented on #15
this is already done, I believe. re-open if you disagree.

[2022-03-17 17:53] brentzundel commented on #7
re-opening, because I was wrong

[2022-03-17 17:54] brentzundel commented on #20
Is this still a desired path forward? I think this may be more fitting for the wallet rendering spec.
 will close in 7 days if no response.

[2022-03-17 17:55] brentzundel commented on #24
this in now handled in wallet rendering spec and has been fixed there.

[2022-03-17 17:55] #24 closed

[2022-03-17 17:56] brentzundel commented on #8
closing as no op if no response in 7 days.

[2022-03-17 17:57] brentzundel commented on #19
what are next steps here?

[2022-03-17 17:59] decentralgabe commented on #19
It seems there's overlap with https://identity.foundation/wallet-rendering/#entity-styles, which the spec mentions. Is it worth pulling styling into its own spec? Or, should this be closed?

[2022-03-17 18:00] #81 closed

[2022-03-17 18:15] #13 closed

[2022-03-17 19:10] decentralgabe commented on #76
this has been fixed

[2022-03-17 19:10] #76 closed

[2022-04-07 17:45] bumblefudge commented on #45
needs barleycornes

[2022-04-27 19:05] JaceHensley opened #89 "ODOs as object or URI"

[2022-05-05 17:28] JaceHensley commented on #89
Notes from 5/5/22 WG call
- Caching: Use standard HTTP headers to control cache
  - when the IRI is an http URL
  - callout that a wallet may or may not cache or cache for ever
- Use an IRI instead of a URI

[2022-05-05 17:52] dtmcg commented on #66
with in the credential application there is an UUID value for the ID
this ID for a given holder can be used to protect against reply attacks. Will update in line.
`{
  "credential_application": {
    "id": "9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d",
 `

[2022-05-05 17:54] dtmcg commented on #54
done

[2022-05-05 17:54] #54 closed

[2022-05-28 00:22] decentralgabe opened #90 "The JSON Schema for Credential Manifest is not correct"
It specifies that for an issuer, `styles` is a required property: https://identity.foundation/credential-manifest/#credential-manifest-3
However, the [spec notes that the property is optional](https://identity.foundation/credential-manifest/#general-composition).

[2022-05-28 00:27] #90 closed

[2022-05-28 01:00] decentralgabe opened #92 "Fix Presentation Definition Schema References"
After https://github.com/decentralized-identity/presentation-exchange/pull/339 update schema references to absolute URL paths / do not redefine them in this spec

[2022-05-31 21:10] #92 closed

[2022-06-15 03:18] decentralgabe opened #96 "Credential Fulfillment should reference a Credential Application"
1. An issuer publishes a Credential Manifest
2. A want-to-be holder submits a Credential Application against the Manifest
3. The issuer fulfills the application, submitting a Credential Fulfillment to the soon-to-be holder

If this flow is a correct understanding of the specification, I note a gap between (2) and (3) where the Credential Fulfillment object does not have the ability to reference a

[2022-06-15 03:18] decentralgabe commented on #96
cc: @JaceHensley @csuwildcat

[2022-06-15 03:57] JaceHensley commented on #96
You're right!

[2022-06-24 23:40] decentralgabe commented on #96
https://github.com/decentralized-identity/credential-manifest/pull/97

[2022-06-29 23:19] #96 closed

[2022-06-30 17:27] decentralgabe opened #98 "Change the primary branch to `main`"
PE is main, I believe it's the default for new repos here. Can we make the switch?

[2022-06-30 17:58] brentzundel commented on #73
I believe this issue has been addressed. It will be closed in 7 days if there is no opposition.

[2022-07-07 17:06] #66 closed

[2022-07-07 17:07] decentralgabe commented on #29
Is this better suited for the https://identity.foundation/wallet-rendering/ spec?

[2022-07-07 17:11] decentralgabe commented on #27
Discussed on the call today: we acknowledge this is an issue; however it is up to trusting the issuer, which is outside the scope of CM.

From @csuwildcat - this is the intention of the spec as written today. Fields -> display rendering. Semantic-aware rendering seems to be ...impossible?

[2022-07-07 17:15] decentralgabe commented on #26
Could add language warning potential risks of using self-asserted properties.
Having some examples of a Manifest being a VC, or something similar to https://identity.foundation/presentation-exchange/#embed-targets would work.

@dhh1128 are you able to make such a PR?

[2022-07-07 17:20] decentralgabe commented on #22
From today's call:

@OR13
- Can we render JSON Schema Forms across mobile / web?

- How do you imagine combining `styles` and `display`? Can you give us an example / benefits you see in moving it?

[2022-07-07 17:22] #18 closed

[2022-07-07 17:23] decentralgabe commented on #16
Going to wait until it's included in spec up. https://github.com/decentralized-identity/spec-up/issues/7

[2022-07-07 17:23] #16 closed

[2022-07-07 17:27] decentralgabe commented on #28
There is a unique id per instance of a PD; however this should be covered by the embed target.

[2022-07-07 17:28] decentralgabe commented on #28
@dhh1128 per the call today, going to mark this as pending close.

If you still believe in the original issue text we invite you to join the next meeting to discuss on July 14th.

[2022-07-07 17:29] decentralgabe commented on #12
From @csuwildcat

[2022-07-07 17:29] #12 closed

[2022-07-07 17:29] decentralgabe commented on #11
Included in spec.

[2022-07-07 17:29] #11 closed, assigned to csuwildcat

[2022-07-07 17:34] decentralgabe commented on #10
Discussed adding semver to track which version of the CM object models are being used.

[2022-07-07 17:35] #8 closed

[2022-07-07 17:36] decentralgabe commented on #7
Related to https://github.com/decentralized-identity/credential-manifest/issues/26#issuecomment-1177955271

[2022-07-07 17:44] decentralgabe commented on #5
Property no longer exists.

[2022-07-07 17:44] #5 closed

[2022-07-07 17:46] decentralgabe commented on #3
Per the call today, this is explicitly out of scope for the spec: it is designed to be protocol agnostic.

Embed targets, which are related, are being covered here https://github.com/decentralized-identity/credential-manifest/issues/26#issuecomment-1177955271

[2022-07-07 17:46] #3 closed

[2022-07-07 17:47] decentralgabe commented on #1
Closed, handling in https://github.com/decentralized-identity/credential-manifest/issues/26#issuecomment-1177955271

[2022-07-07 17:47] #1 closed

[2022-07-07 17:56] decentralgabe commented on #67
@Sakurann we invite you to join our next call on July 14th, or respond here with more information.

[2022-07-07 17:57] decentralgabe commented on #31
@csuwildcat double nudge

[2022-07-07 17:59] decentralgabe commented on #31
Can be an independent document, or considered adding language to the spec.

[2022-07-08 17:58] OR13 commented on #29
probably, I have not kept up with this work item.

[2022-07-08 18:04] decentralgabe commented on #29
Moved to https://github.com/decentralized-identity/wallet-rendering/issues/20

[2022-07-08 18:04] #29 closed

[2022-07-08 18:52] decentralgabe commented on #22
of course a heavily in-development spec is going to get less hits than an established form solution.

I don't see them as competitors, and I agree *some* implementations of CM would benefit from a standard form mechanism.

[2022-07-11 09:52] nklomp opened #103 "Issuer name optional in spec, mandatory in schema"
According to the text at https://identity.foundation/credential-manifest/#general-composition :

According the the schema:
[code]

I think it makes sense to have the name required. Although it is self asserted by the issuer, it is the only human friendly reference for a holder.

[2022-07-14 17:12] brentzundel commented on #28
No response from issue poster, closing.

[2022-07-14 17:12] #28 closed

[2022-07-14 17:20] #27 closed

[2022-07-14 17:39] Sakurann commented on #67
I am ok closing this. Thanks for discussing!

[OpenID for Verifiable Credential Issuance Spec](https://openid.bitbucket.io/connect/openid-4-verifiable-credential-issuance-1_0.html) ended up defining [Credential Metadata Object](https://openid.bitbucket.io/connect/openid-4-verifiable-credential-issuance-1_0.html#section-11.2.1).

[2022-07-14 17:39] #67 closed

[2022-07-14 17:42] brentzundel commented on #26
Additional spec text to clarify the limits of scope for credential manifest to indicate that helpful wallet software should assess received data (and that a system should exist for verifying issuers, etc) would be helpful.

[2022-07-14 17:42] Sakurann commented on #26
if issuer metadata is hosted under .well-known of a domain controlled by the issuer, it becomes within the authority of that domain. whether you trust that domain of the issuer is a separate question - you might ask the user to decide, or have a list of allowed issuer domains. not sure this fits into credential manifest approach, but this is what is done in other specs.

[2022-07-14 17:53] brentzundel commented on #7
I agree with @decentralgabe

[2022-07-14 17:54] brentzundel commented on #7
Based on discussion in credential manifest call, we are closing this.

[2022-07-14 17:54] #7 closed

[2022-07-14 17:58] Sakurann opened #104 "Add a sequence diagram or an overview visual"
It would be super helpful if we could add a sequence diagram or some kind of visual to illustrate the steps:

1. issuer publishes credential_manifest somewhere (where? wallet has to find it?)
2. wallet sends credential_application
3. issuer returns credential_fulfillment

would be super helpful trying to understand what the spec is trying to do.

[2022-07-14 18:16] csuwildcat commented on #22
I don't think there's a fit here for JSON Schema Form to replace what we have as Output Display Objects, because there's still need for a mechanism where Issuers define what smaller set of terse, generic display values are to be 'plucked' from the potentially large credential a wallet receives. Additionally, the goal of the display portion of the spec is not to mandate specific rendered output, bu

[2022-07-18 18:08] colbyharrison commented on #84
Additional typo https://identity.foundation/credential-manifest/#credential-application
First paragraph: "outpus" -> "outputs"

[2022-07-20 23:04] nklomp commented on #103
Consensus in the meeting seemed to be to make the name optional in the schema, so PR removes the required flag

[2022-07-21 17:01] #70 closed

[2022-07-21 17:01] #73 closed

[2022-07-21 17:03] #103 closed

[2022-07-21 17:24] brentzundel commented on #10
Another way to look at solving this might be to define a media type.

[2022-07-21 17:27] brentzundel opened #108 "do we need to indicate version on a particular credential manifest?"
I create a credential manifest and release it. Then I update the credential manifest. I want a way to indicate that the new credential manifest is a new version of the old one.

[2022-07-21 17:41] decentralgabe commented on #10
Versioning of instances of CM, CA, CF are handled by the existing `id` property, which is intended to be unique for each object.

The focus is primarily on how we version the object model across spec revisions.

[2022-07-21 18:02] kimdhamilton commented on #104
What do we think about this?
![swimlanes-1a2372f5b2b65e752f4c2e6f53b38bc9](https://user-images.githubusercontent.com/3945683/180282804-d634d807-cea1-4faa-b0b5-040bb69f4933.png)

[2022-07-21 18:25] colbyharrison commented on #89
Discussion summary from today.

Agreed to add to clarification to the spec that OutputDescriptorObject.id can be a uri.

Bloom will write up some documentation about how they use it.

[2022-07-21 22:02] DRK3 commented on #73
Left one comment on https://github.com/decentralized-identity/credential-manifest/pull/102#issuecomment-1191978259

[2022-07-28 17:20] dtmcg commented on #108
can we have a clarifying example

[2022-07-28 17:25] dtmcg commented on #104
I like the clarifying comments

[2022-07-28 17:28] dtmcg commented on #84
@bumblefudge what's the action item here?

[2022-07-28 17:30] dtmcg commented on #80
@kimdhamilton  @bumblefudge nudge

[2022-07-28 17:32] dtmcg commented on #31
@decentralgabe @csuwildcat nudge 2^3

[2022-07-28 17:33] csuwildcat commented on #31
On it! Sorry for the delay

[2022-07-28 17:38] dtmcg commented on #26
this is not in scope for credential manifest itself. There is a dedicated work item [Trust Establishment](https://github.com/decentralized-identity/trust-establishment/issues)  to address this
Will close this issue in next meeting unless there is a strong objection.

[2022-07-28 17:40] dtmcg commented on #22
based on the above comments we will close this issue on the next call unless an objection is raised

[2022-07-28 17:41] dtmcg commented on #108
some overlap with https://github.com/decentralized-identity/credential-manifest/issues/10

[2022-07-28 17:44] dtmcg commented on #10
@decentralgabe in the light of https://github.com/decentralized-identity/credential-manifest/issues/108 are these the same issue ?
is a there an emerging requirement for versioning or history/lineage feature

[2022-07-28 21:22] decentralgabe commented on #108
I believe this is covered with the identifier property we have for each credential manifest. if the ID is a UUID, is this already solved?

[2022-07-28 21:23] decentralgabe commented on #10
Different. This is for object modellng of the specification itself.
The versioning of objects, I believe is already solved by UUIDs in the spec today. I added a comment here: https://github.com/decentralized-identity/credential-manifest/issues/108#issuecomment-1198643838

[2022-07-28 21:28] decentralgabe opened #110 "Credential Denial?"
If a Credential Fulfillment is a possible outcome of a Credential Application, it seems that a Denial is another.
Should this be represented in the spec?

[2022-08-02 20:21] decentralgabe opened #111 "Credential Application Top-Level Format Property: Unnecessary?"
If the presentation submission has claims, and those claims have format properties in the descriptor map...what is the purpose / utility of having the format properties distinct from the claims themselves?

[2022-08-02 20:23] csuwildcat commented on #111
This is about what formats the Issuer should issue them credentials in, vs the Descriptor formats, which describe what formats an Issuer accepts for evaluation.

[2022-08-02 20:29] decentralgabe commented on #111
Ah, my misunderstanding.

[2022-08-02 20:29] #111 closed

[2022-08-18 17:30] brentzundel commented on #108
I agree that the unique ID is sufficient, because the version info can literally be included there.

[2022-08-18 17:30] #108 closed

[2022-08-18 17:37] bumblefudge commented on #110
Generalize `Credential Fulfillment` to `Credential Response` and include Denial as a form/subtype of that? `OneOf` would make this easy to handle...

[2022-08-18 17:44] brentzundel commented on #104
@kimdhamilton I like the direction you've recommended and would love to see it as a PR

[2022-08-18 17:48] bumblefudge commented on #83
I will update this as soon as PE v2 is cut

[2022-08-18 17:50] bumblefudge commented on #80
i'll do an editorial pass and check for this

[2022-08-18 17:51] brentzundel commented on #31
nudge @csuwildcat

[2022-08-18 17:53] brentzundel commented on #22
no updates, closing

[2022-08-18 17:53] #22 closed

[2022-08-18 17:56] #10 closed

[2022-08-20 07:09] bumblefudge commented on #84
oops those typos from #68 were overtaken by events.  Colby's typo fixed by a one-char PR below.

[2022-08-20 07:10] #84 closed

[2022-08-20 07:39] bumblefudge commented on #80
Seems already covered by the `comment` field inserted at the top of every `verifiableCredential` object of examples

[2022-08-20 07:39] #80 closed

[2022-08-24 00:17] kimdhamilton commented on #104
Will take a stab at it shortly

On Thu, Aug 18, 2022 at 10:44 AM Brent Zundel ***@***.***>
wrote:

[2022-08-25 04:01] #110 closed

[2022-08-25 17:27] #89 closed

[2022-09-01 15:45] djvs opened #115 "Credential Response example seems to not fit definition"
https://identity.foundation/credential-manifest/#credential-response-2

Noting in particular here, Credential Response is required to either have `fulfillment` or `denial` property, while the example contains neither?  Is the example out of date?

[2022-09-01 17:05] decentralgabe commented on #115
Example is out of date, thanks for flagging.

[2022-09-03 00:31] djvs commented on #115
It looks like the actual context that `jsonld` attempts to resolve through needs to be updated as well.  Not 100% sure how to access that file via `https://identity.foundation/credential-manifest/response/v1`.   Noticed this stream of issues when the endpoint got renamed suddenly.

[2022-09-08 17:18] csuwildcat commented on #26
Because this is a near-existential question that is beyond the capacity of the spec to answer, this is likely something that applications and wallets will help users discern for the foreseeable future.

[2022-09-08 17:18] #26 closed

[2022-09-08 17:26] #104 closed

[2022-09-08 17:34] brentzundel commented on #44
Perhaps the next step should be to add a use case (alongside @csuwildcat  use cases PR) so we can better understand what this is asking for.

[2022-09-08 17:36] brentzundel commented on #83
We also need as ratified version of Wallet Rendering to point to, yes?

[2022-09-08 21:33] decentralgabe commented on #115
no, the VC would be a separate property. so... `$.verifiableCredential` distinct from `$.credential_response.??`

[2022-09-12 20:40] #115 closed

[2022-09-13 17:18] decentralgabe commented on #83
Two options:

1. Release a v1 of wallet rendering ASAP. A v1 can be fast-followed by a v1.1 and so on as the specification becomes more mature.
2. Remove wallet rendering references from the spec. There are a lot, pretty much all of CM: https://identity.foundation/credential-manifest/#credential-manifest---schema

My recommendation is we push for a version for wallet rendering as soon as possible.

[2022-09-29 17:48] dtmcg opened #119 "References section has no references"

[2022-10-05 22:25] pdxjohnny opened #121 "docs: How is the Credential Manifest related to Verifiable Credentials?"
Looking for clarity for myself and others.

[2022-10-05 22:26] pdxjohnny commented on #121
Is the Credential Manifest spec intended to hold a structure set of credentials, some of which might be in the [W3C Verifiable Credential](https://www.w3.org/TR/vc-data-model/) format?

[2022-10-06 01:31] nklomp commented on #121
No, it is a format for issuers to describe what they need from a subject/holder in order to issue a VC to that subject. It is the cousin of presentation exchange.

Could you tell what isn't clear from the abstract so that it can be improved?

[2022-10-06 09:14] bumblefudge commented on #121
credential issuance : credential manifest :: credential exchange : presentation exchange
?

[2022-10-13 17:10] decentralgabe commented on #119
this is a spec up thing, we just need to reference them properly cc: @csuwildcat

[2022-10-13 17:44] csuwildcat commented on #31
Closing as completed

[2022-10-13 17:44] #31 closed

[2022-10-13 17:45] csuwildcat opened #123 "Note on Wallet Rendering needs formatting"

[2022-10-13 21:39] decentralgabe opened #125 "Section on Processing of the Objects"
Similar to the [input evaluation](https://identity.foundation/presentation-exchange/#input-evaluation) section in PE, the CM spec should have a set of processing instructions.

This is likely most important for processing a Credential Application, though such instructions could be useful for all three objects the spec defines.

[2022-10-14 07:48] bumblefudge commented on #125
nota bene @pdxjohnny -- perhaps adding this section will make high-level explanatory frontmatter that would close #121 more easy to write!

[2022-10-20 17:07] #119 closed

[2022-10-20 17:12] #83 closed

[2022-10-20 17:13] dtmcg commented on #121
@pdxjohnny does https://github.com/decentralized-identity/credential-manifest/issues/125 address your question ?

[2022-10-24 22:38] brianorwhatever opened #126 "MUSTs not met in example"
There are some MUSTs in [this](https://identity.foundation/credential-manifest/#general-composition) that aren't met in the example right after. For example `spec_version` and `issuer`

[2022-10-27 17:27] brentzundel commented on #121
Marked as pending close. Will close in 7 days if we get no objection to doing so.

[2022-10-27 17:29] andorsk commented on #126
I can take this.

[2022-10-27 17:58] brentzundel commented on #126
closing as fixed

[2022-10-27 17:58] #126 closed

[2022-11-03 17:29] #121 closed

[2022-11-03 17:32] decentralgabe opened #129 "Add JWT Embed Target Examples"
Currently we have VP embed target examples, we should add more for JWTs.

[2022-11-04 20:24] decentralgabe opened #132 "Should a Credential Application & Response include an Applicant ID?"
The Credential Manifest specifies an `issuer` property, showing who created it. A Credential Application does not show who the applicant is outside of the credential(s) they provide that may include their identifier. Similarly, a Credential Response has an `application_id` which shows which application it is responding to, but no mention of who the applicant is.

I'd like to propose a change to ad

[2022-11-04 20:49] decentralgabe opened #133 "Support Multi-Stage Applications"
A common KYC process:

1. Submit your drivers license
2. OK, validated, now submit a selfie
3. OK, validate, here's your credential

With CM today we cannot represent this type of interaction. Notably (2) is depending on the processing and validation of (1).

One way to solve for this would be to have a concept of "multi-part manifest" which allows you to chain together sub-manifests and accept su

[2022-11-04 21:44] #129 closed

[2022-11-07 04:13] andorsk commented on #133
This seems like there's some correlation with this issue and https://github.com/decentralized-identity/presentation-exchange/issues/364. Mitch from Flindev figured out the link

[2022-11-07 04:20] andorsk commented on #133
It was suggested from @nklomp that Present Proof v2 from Aries might be the answer to this, but I'm not sure this is the optimal solution ( though I admit I'm still working on a better way to do it ).

My gut is that there's an advantage toward baking in some interaction guidance into the presentation/CM specifications themselves as I think @decentralgabe is suggesting.

[2022-11-07 17:13] decentralgabe commented on #133
Yeah I mainly want to have a discussion on whether we have PE and CM as protocols or just data models. This suggestion has a risk of making that distinction a bit more gray.

[2022-11-07 18:17] nklomp commented on #133
I guess the benefit of current spec is that it can be used in all kinds of transport mechanisms (OID4VP, WACI-DIDComm, VC-API) etc. If we want to retain that the only path forward I see is to have something that can be interpreted on both sides from a single exchange.

So then having a graph like decision structure in PE makes sense.

The other solution I can see is to go down an exchange protocol

[2022-11-07 19:32] djvs commented on #133
Speaking from current implementation needs @ Bloom, we're definitely seeing intermediate out-of-band steps need to take place in between, so any approach should definitely support asynchronicity.  That's likely a hint that multiple requests should be handled as entirely separate, or wrapped in a broader concept.

[2022-11-07 19:41] decentralgabe commented on #133
If anything this raises the importance of including an implementers guide or at least more examples that can demonstrate multi-step interactions.

[2022-11-10 18:23] kimdhamilton commented on #133
Per discussion on Nov 10, all agree with consensus of this thread -- focus of CM and PE should on data model (not protocol).

To @decentralgabe's point, we can approach this as add to an implementation guide or examples.

If the need emerges for additional data models resulting in substantive changes to the spec, we can revisit that.

Creating a label "editorial" to classify this as "would be nice

[2022-11-10 18:28] kimdhamilton commented on #125
Update Nov 10: we're able to reuse the section from PE, but I noticed that PE processing is missing details about descriptor mapping. I'm working on a proposed fix to maximize reuse between the specs; hoping to have a 1st stab tomorrow

[2022-11-10 18:42] andorsk commented on #133
Tom Jones on the Nov 11 C&C call brought up an excellent point in the chat during the PE call that I wanted to note: that if there was a "continuation" like exchange, where you could lead people down a chain of claims, and that there could be some legal implications to it. I was a really interesting thought so wanted to make sure I had it caught for reference later.

[2022-11-10 18:49] andorsk commented on #133
Someone ( keeping anon for privacy, check the recording for the name ), on the Nov 11 C&C call brought up an excellent point in the chat during the PE call that I wanted to note: that if there was a "continuation" like exchange, where you could lead people down a chain of claims, and that there could be some legal implications to it. I was a really interesting thought so wanted to make sure I had

[2022-11-10 21:47] csuwildcat commented on #133
This may be a fantastic candidate for creating a multi-step credential
issuance protocol using the DWN Protocols capabilities, which allow for
turn style activities like this.

On Thu, Nov 10, 2022, 12:49 PM Andor Kesselman ***@***.***>
wrote: